*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container > .box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    /* min-width: 0 (default) */
  /* preferred-width: 80% */
  /* max-width: 1440px */


  width: clamp(0px, 70%, 1440px);
    margin: 4rem auto;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(8,200px); */
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: dense;
    /* finds the remaining areas and try to fit the larger ones  */

}

.box{
background-color: rgb(162, 209, 161);
border-radius: 20px;
border: 4px solid rgb(89, 130, 118);
padding: 30px;
}

.box{
    font-size: 3rem;
    color: white;
}

/*500px and above*/

@media (min-width:500px){
    .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    /* grid-template-rows: repeat(3, 200px); */
    grid-auto-rows: 150px;
    gap: 1rem;
}

.box8{
    grid-column: span 2;
}

}


